@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&family=Playfair+Display:ital,wght@1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
}

header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: right;
    position: fixed;
}

header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: "Montserrat";
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }

  #about {
    float: right;
    width: 67%;
  }
}

/*стили для блока about */
#about {
  text-align: center;
  font-size: 1.3em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {color: 	#ffff}

#about > a:hover {
  color: #9191d0;
  text-decoration: underline;
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

/* Стили для фиксированной шапки */

.fixed {
  z-index: 5000;
  background-color:	#ffff;
  border-bottom: 1px solid silver;
}

header.fixed #logo {
  color: #343434;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

/* Главный блок на сайте */

#top {
  width: 100%;
  background-image: url("Задник.png");
  background-blend-mode: multiply;
  background-color: #ED760E;
  background-size: cover;
  text-align: center;
}

@media (min-width: 1001px) {
  #top {
    font-size: 3em;
    height: 1000px;
  }
}

@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px) {
  #top {
    font-size: 1.3em;
    padding-top: 50%;
    height: 500px;
  }
}

@media (max-width: 450px) {
  #top {
    font-size: 0.9em;
  }
}

#top h1 {
  padding-top: 20%;
}

#top h3 {
  color: #ccc;
}

/* Блок с возможностями */

#main {
  float: left;
  background-color: 	#313131;
  border-top: 2px solid silver;
  color: #ffff;
  font-size: 1.5em;
}

#main h3 { color: #ffff; font-family: "Montserrat";}

@media (min-width: 1100px) {
  #main {
    padding: 100px 20%;
    width: 60%;
  }
}

#main div {
  width: 48%;
  margin-right: 2%;
  float: left;
}

#main h2 {font-size: 3em}
#main span {color: #FF8F33; font-family: "Playfair";}

/* Блок со статистикой */

#overview {
  float: left;
  background-image: url("Задник.png");
  background-blend-mode: multiply;
  background-color: #FFA161;
  background-size: cover;
  background-attachment: fixed;

  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: #fff;
  border: 5px solid silver;
}

#overview h2 {font-size: 4em; font-family: "Oswald";}
#overview h5 {font-size: 2em; margin-bottom: 6px; color: #ffff; font-family: "Oswald";}

#overview .img {
  float: center;
  width: 100%;
  margin-right: 10px;
  margin-top: 60px;
}


#overview img {
  background: #fafafa;
  padding: 10px;
  border: 50% solid silver;
  border-radius: 30px;
  float: center;
  width: 100%;
  max-width: 1000px;
}

/* Блок с обратной связью */
#contacts {
  width: 100%;
  float: left;
  padding-bottom: 40px;
  padding-top: 70px;
  border-top: 4px solid #ccc;
  background: #f4f4f4;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair', serif;
  font-weight: lighter;
}

#contacts h5 {font-size: 3em; color: #313131}

#form_input {
  margin-top: 15px;
  font-size: 1.1em;
  width: 35%;
  margin-left: 38%
}

#form_input label {
  color: #505050;
  cursor: pointer;
  font-size: 1.4em;
  font-family: 'Roboto Slab', serif;
}

#form_input label > span {
  color: #e87e7e;
}

#form_input input,#form_input textarea {
  margin-bottom: 10px;
  width: 70%;
  padding: 10px 2%;
  border-radius: 7px;
  border: 2px solid silver;
  font-size: 0.9em;
  color: #313131;
}

#form_input input:focus, #form_input textarea:focus {
  border-color: #313131;
}

.btn {
  float: left;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 1.2em;
  background-color: #ec6550;
  text-shadow: #313131 0 0 2px;
  cursor: pointer;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.btn:hover {
  background-color: #c15443;
}

footer{
  margin-top: 5px;
  background-color: #313131;
  font-size: 1.2em;
  color: #ffff;
  padding: 10px;
  text-align: center;
}

footer p a{
  text-align: center;
  padding: 4px;
  font-size: 0.9em;
  color: #FFFFFF;
  margin-top: 4px;
}

.feedback {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}